.app-management__comment {
  width: 100%;
  padding: 0 16px;

  &-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;

    .el-pagination {
      width: 100%;
      justify-content: flex-end;
    }

    li {
      &::before {
        display: none;
      }
    }

    margin: 16px 0;
  }
}
