@import './normalize.scss';
@import './vars.scss';
@import './theme.scss';

:root {
  // 字体
  // --font-family-base: 'PingFangSC-Regular', 'Microsoft YaHei', Arial, sans-serif;
  --font-family-base: 'Open Sans', 'Segoe UI', 'Helvetica', 'sans-serif';
  --font-size-small: 12px;
  --font-size-normal: 14px;
  --font-size-middle: 16px;
  --font-size-large: 20px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  overflow-y: overlay;

  ::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-clip: content-box;
    border: 2px solid transparent;
  }
  // body[scroll]::-webkit-scrollbar-thumb,
  // ::-webkit-scrollbar-thumb:hover {
  //   background-color: rgba(0, 0, 0, 0.5);
  // }

  body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: var(--font-family-base);
    font-size: var(--font-size-normal);
    background: var(--primary-background);

    .blog {
      background-color: var(--primary-background);
      position: relative;
    }
  }

  #root {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  // 下面是博客主体的样式

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 30px 0;
    font-family: inherit;
    font-weight: 500 !important;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
  }

  h1,
  h2,
  h3 {
    line-height: 40px;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    color: var(--light-text-color);
  }

  h2 {
    font-size: 31.5px;
    color: var(--light-text-color);
  }

  h3 {
    font-size: 24px;
    color: var(--light-text-color);
    font-weight: bold;
  }

  h4 {
    font-size: 20px;
    color: var(--light-text-color);
    font-weight: bold;
    margin: 16px 0;
  }

  h5 {
    font-size: 18px;
    color: var(--light-text-color);
    font-weight: bold;
    margin: 10px 0;
  }

  hr {
    border: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--secondary-text-color);
    transform: scaleY(0.5);
  }

  p {
    // font-size: 0.9rem;
    // line-height: 1.7;
    // font-weight: 400;
    // margin: 1rem 0;
    // text-align: left;
    // letter-spacing: 0.6px;
    font-family: 'PingFangSC-Light', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.7;
    margin: 0;
  }

  ul {
    padding: 0;
    display: block;
    margin: 0;
    position: relative;
  }

  li {
    list-style: none;
    display: block;
    color: var(--secondary-text-color);
    line-height: 28px;
    font-size: 0.9rem;
    padding: 0.2em 0.2em 0.2em 1.4em;
    margin: 0.2rem 0px;
    position: relative;

    &::before {
      top: 0.7em;
      left: 0.2em;
      width: 0.2em;
      height: 0.2em;
      border: 0.21em solid var(--mecci-theme-color);
      border-radius: 50%;
      background: 0px 0px;
      content: '';
      line-height: 0.42em;
      background-color: var(--mecci-theme-color);
      position: absolute;
      color: rgb(255, 255, 255);
      cursor: pointer;
      transition: all 0.3s ease-out 0s;
      display: block;
    }
  }

  blockquote {
    margin: 0;
  }

  a {
    border-bottom: 1px dotted #333;
    padding-bottom: 2px;
    text-decoration: none;
    word-wrap: break-word;
    color: inherit;
    cursor: pointer;
    &:hover {
      border-bottom: 1px solid var(--mecci-theme-color);
    }
  }

  strong {
    background-color: var(--mecci-theme-color);
    color: #fff;
    font-size: 14px;
    padding: 2px 4px;
    margin: 0 4px;
    border-radius: 6px;
    font-weight: 300;
  }

  img {
    // border-radius: 12px;
    // margin-bottom: 0.5rem;
    object-fit: cover;
    display: block;
    // margin: 0 auto 0.8rem;
    cursor: pointer;
    border-style: none;
    // width: 50%;
    // // max-width: 100%;
    // height: 50%;
    transition: all 0.2s ease 0s;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
  }

  pre {
    font-family: Consolas;
    text-align: left;
    margin: 1em;
    counter-reset: line;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    width: 100%;
    background: var(--mecci-card-background);
    color: var(--code-text-color);
    margin: 0;
    padding: 1rem 1rem;
    border-radius: 12px;
    border: 1px solid var(--line-color);
  }

  code {
    width: 100%;
    display: inline-block;
    overflow-x: auto;
    // white-space: nowrap !important;
    // padding: 2.2em 5px;
    margin: 0 2px;
    max-width: inherit;
    font-family: 'PingFangSC-Light', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.7;

    .span {
      word-break: break-all;
    }
  }

  ol {
    padding: 0;
    margin: 0;

    .is-collapsible {
      padding-left: 16px;
    }

    .toc-list-item {
      padding: 4px 0;
      margin: 0;
      &::before {
        display: none;
      }

      .toc-link {
        display: inherit;
        border: none;
        font-family: 'PingFangSC-Light', sans-serif;
        font-size: 17px;
        font-weight: 300;
        line-height: 1.7;
        padding: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--primary-text-color);
        &:hover {
          color: var(--mecci-theme-color);
        }
        &.is-active-link {
          color: var(--mecci-theme-color);
          height: 24px;
          font-weight: 400;
          // border-left: 3px solid var(--mecci-theme-color);
          // padding-left: 4px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .button {
    font-size: 18px;
    color: #fff;
    background: var(--primary-button-background);
    padding: 8px 24px;
    border: 2px solid var(--outline-button-color);
    cursor: pointer;
    display: inline-block;
  }

  .button:active {
    opacity: 0.8;
  }

  .button.large {
    padding: 14px 40px;
  }

  .button.outline {
    background: none;
    color: var(--primary-text-color);
  }

  .button.basic {
    background: none;
    border: none;
    padding: 0;
  }

  .button.block {
    display: block;
    width: 100%;
  }

  .button.lowkey {
    background: var(--lowkey-button-background);
    border-color: var(--lowkey-button-background);
    color: var(--lowkey-button-text);
  }

  .button.pill {
    font-size: 12px;
    padding: 4px 8px;
    margin-right: 8px;
    color: var(--light-text-color);
    background: var(--skeleton-background);
    border-color: var(--skeleton-background);
    border-radius: 3px;
  }

  .button.red {
    background: #c62828;
    border-color: #c62828;
    color: #fff;
  }

  .button.red.outline {
    background: none;
    color: #c62828;
  }

  .button.circle {
    display: flex;
    padding: 2px;
    background: #ffffff20;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.5;
  }

  .button.circle:active {
    opacity: 0.4;
  }

  .button.circle.active {
    opacity: 0.8;
  }

  .button.outline.green {
    color: #1bbb1f;
    border-color: #1bbb1f;
  }

  .button.circle.large {
    opacity: 1;
    padding: 8px;
    background: none;
  }

  .button.circle.large:active {
    opacity: 0.8;
  }

  .button.icon.text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button.icon.text > .icon {
    line-height: 0;
  }

  .button.icon.text > .text {
    margin-left: 8px;
  }

  .button.large.relaxed {
    padding: 24px 48px;
  }

  .button.fluid {
    width: 100%;
  }

  b {
    margin: 0 8px;
  }
}

// @media screen and (min-width: 375px) {
//   html {
//     /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
//     font-size: calc(100% + 2 * (100vw - 375px) / 39);
//     font-size: calc(16px + 2 * (100vw - 375px) / 39);
//   }
// }
// @media screen and (min-width: 414px) {
//   html {
//     /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
//     font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
//     font-size: calc(18px + 4 * (100vw - 414px) / 586);
//   }
// }
// @media screen and (min-width: 600px) {
//   html {
//     /* 600px-1000px每100像素宽字体增加1px(20px-24px) */
//     font-size: calc(125% + 4 * (100vw - 600px) / 400);
//     font-size: calc(20px + 4 * (100vw - 600px) / 400);
//   }
// }
@media screen and (max-width: 768px) {
  html {
    h1 {
      font-size: 1.2rem;
      margin-top: 2rem;
    }

    h2 {
      font-size: 1rem;
      margin-top: 2rem;
    }

    p {
      font-size: 0.9rem;
      margin: 0.8rem 0;
      line-height: 1.5;
      word-break: break-word;
    }

    pre {
      background: var(--mecci-card-background);
      color: var(--code-text-color);
      margin: 0;
      padding: 1rem 1rem;
      border-radius: 12px;
      border: 1px solid var(--line-color);
    }

    code {
      padding: 0;
      margin: 0;
      font-size: 0.8rem;
      word-break: break-word;
      overflow-x: auto;
      // white-space: nowrap !important;
    }

    .button {
      cursor: auto !important;
    }

    img {
      cursor: auto !important;
      // height: 100% !important;
      max-width: 100%;
      // width: max-content !important;
      width: auto;
      height: auto;
      margin: 0;
    }

    ol {
      .toc-list-item {
        .toc-link {
          &:active {
            color: var(--secondary-text-color);
          }
        }
      }
    }
  }
}
