.blog.light {
  /* Text */
  --primary-text-color: #000000;
  --secondary-text-color: #4c4948;
  --light-text-color: #1f2d3d;
  --primary-text-hover-color: #425aef;
  --primary-text-blog-color: #34495e;
  --code-text-color: #525252;
  --mecci-home-color: #363636;
  --mecci-secondary-color: rgba(60, 60, 67, 0.6);
  --mecci-font-color: #4c4948;
  --primary-font-color: #363636;

  /* Background */
  --primary-background: #ffffff;
  --light-background: #f1f1f1;
  --page-header-background: #ffffff;
  --page-aside-background: #ffffff;
  --code-background: #f8f8f8;
  --comment-content-background: #edf0f7;
  --scrollbar-thumb-background: rgba(50, 50, 50, 0.3);
  --scrollbar-track-background: rgba(50, 50, 50, 0.1);
  --search-input-background: #f6f8ff;
  --search-mask-background: rgba(255, 255, 255, 0.6);
  --mobile-background: #f7f9fe;
  --mobile-secondary-background: #f1f3f8;
  --mecci-card-background: #ffffff;
  --sidebar-menu-background: #f6f8fa;

  /* Line */
  --line-color: #e1e3e7;
  --highlight-line-color: #000000;
  --mecci-card-border: #e3e8f7;
  --mecci-dashed-color: #4259ef23;

  /* Button */
  --primary-button-background: #000000;
  --outline-button-color: #000000;
  --lowkey-button-background: #e0e0e0;
  --lowkey-button-text: #5a5a5a;

  /* Skeleton */
  --skeleton-background: #f0f0f0;

  /* Shadow */
  --primary-background-shadow: 0 15px 35px rgb(50 50 93 / 10%),
    0 5px 15px rgb(0 0 0 / 7%);
  --secondary-background-shadow: 0 10px 35px 2px rgb(0 0 0 / 15%),
    0 5px 15px rgb(0 0 0 / 7%), 0 2px 5px -5px rgb(0 0 0 / 10%);
  --mecci-shadow: 0 8px 16px -4px #2c2d300c;

  /* theme */
  --mecci-theme-color: #425aef;

  /* code */
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    color: #d73a49;
  }
  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    color: #6f42c1;
  }
  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-variable {
    color: #005cc5;
  }
  .hljs-meta .hljs-string,
  .hljs-regexp,
  .hljs-string {
    color: #032f62;
  }
  .hljs-built_in,
  .hljs-symbol {
    color: #e36209;
  }
  .hljs-code,
  .hljs-comment,
  .hljs-formula {
    color: #6a737d;
  }
  .hljs-name,
  .hljs-quote,
  .hljs-selector-pseudo,
  .hljs-selector-tag {
    color: #22863a;
  }
  .hljs-subst {
    color: #24292e;
  }
  .hljs-section {
    color: #005cc5;
    font-weight: 700;
  }
  .hljs-bullet {
    color: #735c0f;
  }
  .hljs-emphasis {
    color: #24292e;
    font-style: italic;
  }
  .hljs-strong {
    color: #24292e;
    font-weight: 700;
  }
  .hljs-addition {
    color: #22863a;
    background-color: #f0fff4;
  }
  .hljs-deletion {
    color: #b31d28;
    background-color: #ffeef0;
  }
}

.blog.dark {
  /* Text */
  --primary-text-color: #b1b1b1;
  --secondary-text-color: rgba(255, 255, 255, 0.9);
  --light-text-color: ##ff;
  --primary-text-hover-color: #0084ff;
  --primary-text-blog-color: #b1b1b1;
  --code-text-color: rgb(201, 209, 217);
  --mecci-home-color: #f7f7fa;
  --mecci-secondary-color: #a1a2b8;
  --mecci-font-color: rgba(255, 255, 255, 0.9);
  --primary-font-color: #f7f7fa;

  /* Background */
  --primary-background: #222222;
  --light-background: #1f1f1f;
  --page-header-background: #222222;
  --page-aside-background: #2e2e2e;
  --code-background: #2d2d2d;
  --comment-content-background: #2b2b2b;
  --scrollbar-thumb-background: rgba(200, 200, 200, 0.3);
  --scrollbar-track-background: rgba(200, 200, 200, 0.1);
  --search-input-background: #1e1e1e;
  --search-mask-background: rgba(0, 0, 0, 0.6);
  --mobile-background: #18171d;
  --mobile-secondary-background: #30343f;
  --mecci-card-background: #1d1e22;
  --sidebar-menu-background: #1e1e1e;

  /* Line */
  --line-color: #383838;
  --highlight-line-color: #555555;
  --mecci-card-border: #42444a;
  --mecci-dashed-color: #0084ff23;

  /* Button */
  --primary-button-background: #555555;
  --outline-button-color: #555555;
  --lowkey-button-background: #3b3b3b;
  --lowkey-button-text: #898989;

  /* Skeleton */
  --skeleton-background: #2b2b2b;

  /* Shadow */
  --primary-background-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
  --secondary-background-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
  --mecci-shadow: 0 8px 16px -4px #00000050;

  /* theme */
  --mecci-theme-color: #0084ff;

  /* code */
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    color: #ff7b72;
  }
  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    color: #d2a8ff;
  }
  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-variable {
    color: #79c0ff;
  }
  .hljs-meta .hljs-string,
  .hljs-regexp,
  .hljs-string {
    color: #a5d6ff;
  }
  .hljs-built_in,
  .hljs-symbol {
    color: #ffa657;
  }
  .hljs-code,
  .hljs-comment,
  .hljs-formula {
    color: #8b949e;
  }
  .hljs-name,
  .hljs-quote,
  .hljs-selector-pseudo,
  .hljs-selector-tag {
    color: #7ee787;
  }
  .hljs-subst {
    color: #c9d1d9;
  }
  .hljs-section {
    color: #1f6feb;
    font-weight: 700;
  }
  .hljs-bullet {
    color: #f2cc60;
  }
  .hljs-emphasis {
    color: #c9d1d9;
    font-style: italic;
  }
  .hljs-strong {
    color: #c9d1d9;
    font-weight: 700;
  }
  .hljs-addition {
    color: #aff5b4;
    background-color: #033a16;
  }
  .hljs-deletion {
    color: #ffdcd7;
    background-color: #67060c;
  }
}
