.app-management__comment-list {
  display: flex;
  flex-wrap: wrap;

  &-item {
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--line-color);
    box-shadow: var(--mecci-shadow);
    margin: 8px 10px;
    border-radius: 8px;
    padding: 16px;

    &__content {
      width: 100%;
      height: 120px;
      margin-bottom: 8px;
      border-bottom: 1px solid var(--line-color);
      overflow: auto;

      &-text {
        word-break: break-all;
      }

      &-reply {
        margin-top: 8px;
        font-size: 12px;
        color: var(--mecci-secondary-color);
      }
    }

    &__info {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 12px;

      &-content {
        margin-left: 12px;
      }

      &-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;

        &-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;

          &.default {
            background-image: url('@/assets/image/logo.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            object-fit: cover;
          }
        }
      }

      &-name {
        font-size: 16px;
      }

      &-email {
        color: var(--mecci-secondary-color);
        font-size: 12px;
      }
    }

    &__main {
      width: 100%;
      display: flex;
      align-items: center;

      &-button {
        height: 24px;
        background-color: #409efc;
        color: #fff;
        padding: 8px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }

        &.approved {
          margin-right: 8px;
        }

        &.denied {
          background-color: #f56c6c;
        }
      }

      &-link {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }

    &__meta {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 8px 0;

      &-provice {
        border: 1px solid var(--mecci-card-border);
        padding: 1px 5px 1px 2px;
        border-radius: 8px;
        margin-right: 4px !important;
        color: var(--mecci-secondary-color) !important;
        display: inline !important;
        margin-top: 6px !important;
        font-size: 0.5rem;
        line-height: 1rem;
        white-space: nowrap;
      }

      &-os {
        border: 1px solid var(--mecci-card-border);
        padding: 1px 5px 1px 2px;
        border-radius: 8px;
        margin-right: 4px !important;
        color: var(--mecci-secondary-color) !important;
        display: inline !important;
        margin-top: 6px !important;
        font-size: 0.5rem;
        line-height: 1rem;
        white-space: nowrap;
      }

      &-browser {
        border: 1px solid var(--mecci-card-border);
        padding: 1px 5px 1px 2px;
        border-radius: 8px;
        margin-right: 4px !important;
        color: var(--mecci-secondary-color) !important;
        display: inline !important;
        margin-top: 6px !important;
        font-size: 0.5rem;
        line-height: 1rem;
        white-space: nowrap;
      }
    }
  }
}
