.post-show-content {
  width: 100%;
  height: max-content;
  color: var(--primary-text-color);
  // pre code.hljs {
  //   display: block;
  //   overflow-x: auto;
  //   padding: 1em;
  // }
  // code.hljs {
  //   padding: 3px 5px;
  // }

  @media screen and (max-width: 768px) {
    & {
      padding-top: 16px;

      html h2 {
        margin-top: 2rem !important;
      }
    }
  }
}
