.nav-menu {
  height: 100%;
  display: flex;
  align-items: center;

  &-list {
    display: flex;
    height: 100%;
    padding: 16px 0;

    &-item {
      margin-left: 24px;
      line-height: 20px;
      cursor: pointer;
      display: flex;
      align-items: center;
      user-select: none;
      &:hover {
        color: var(--primary-text-hover-color);

        .nav-menu-list-item-name::after {
          width: 52px;
        }
      }

      & > .app-icon {
        color: var(--mecci-font-color) !important;
      }

      &-name {
        font-size: var(--font-size-middle);
        margin-left: 4px;
        position: relative;

        &::after {
          content: '';
          display: block;
          height: 2px;
          background-color: var(--primary-text-hover-color);
          position: absolute;
          bottom: -10px;
          width: 0px;
          left: -10px;
          transition: width 0.3s linear;
        }
      }

      &.menu {
        display: none;
      }
    }
  }

  @media screen and (max-width: 768px) {
    & {
      &-list {
        padding: 0;
        align-items: center;

        &-item {
          line-height: 24px !important;
          width: 36px;
          height: 36px;
          padding-left: 0 !important;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: auto !important;
          border-radius: 50%;
          margin-left: 16px;
          transition: all 0.8s ease;

          &:active {
            background-color: var(--mecci-theme-color);

            .app-icon {
              color: #fff !important;
            }
          }

          & > .app-icon {
            width: 24px !important;
            font-size: 24px !important;
          }

          &-name {
            display: none;
          }

          &.menu {
            display: flex;
          }
        }
      }
    }
  }
}
