.comment-reply-list-item {
  width: 100%;
  display: flex;
  word-break: break-all;
  padding-top: 1rem;
  border-top: 1px dashed var(--mecci-dashed-color);
  &-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
      0 1px 5px 0 rgb(0 0 0 / 20%);

    &-img {
      width: 32px;
      height: 32px;
      border-radius: 50%;

      &.default {
        opacity: 0.3;
      }
    }
  }

  &-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 16px;

    &-header {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      margin-bottom: 8px;

      &-name {
        color: var(--mecci-theme-color);
        font-size: 1rem;
        font-weight: bolder;
        line-height: 32px;
        margin-right: 16px;
      }

      &-card {
        padding: 4px 8px;
        background-color: var(--primary-text-hover-color);
        color: #fff;
        border-radius: 4px;
        font-size: var(--font-size-small);
        margin-right: 16px;
      }

      &-time {
        flex: 1;
        color: var(--secondary-text-color);
        font-size: 0.8rem;
      }

      &-reply {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        user-select: none;

        .app-icon {
          color: var(--secondary-text-color) !important;
        }

        &-amount {
          margin-left: 0.25rem;
          font-size: 0.75rem;
          height: 1.5rem;
          line-height: 1.5rem;
          color: var(--secondary-text-color);
        }
      }
    }

    &-parent {
      font-size: 0.5rem;
      color: var(--mecci-secondary-color);

      &-name {
        color: var(--mecci-home-color);
      }
    }

    &-content {
      flex: 1;
      margin-top: 0.5rem;
      max-height: 500px;

      &-text {
        color: var(--secondary-text-color);
      }
    }

    &-footer {
      display: flex;
      font-size: 0.875rem;
      color: #999;
      flex-wrap: wrap;
      margin-top: 0.5rem;
      padding-bottom: 0.5rem;

      &-os {
        border: 1px solid var(--mecci-card-border);
        padding: 1px 5px 1px 2px;
        border-radius: 8px;
        margin-right: 4px !important;
        color: var(--mecci-secondary-color) !important;
        display: inline !important;
        margin-top: 6px !important;
        font-size: 0.5rem;
        line-height: 1rem;
      }

      &-browser {
        border: 1px solid var(--mecci-card-border);
        padding: 1px 5px 1px 2px;
        border-radius: 8px;
        margin-right: 4px !important;
        color: var(--mecci-secondary-color) !important;
        display: inline !important;
        margin-top: 6px !important;
        font-size: 0.5rem;
        line-height: 1rem;
      }

      &-address {
        border: 1px solid var(--mecci-card-border);
        padding: 1px 5px 1px 2px;
        border-radius: 8px;
        margin-right: 4px !important;
        color: var(--mecci-secondary-color) !important;
        display: inline !important;
        margin-top: 6px !important;
        font-size: 0.5rem;
        line-height: 1rem;

        &-icon {
          width: 10px;
          height: 10px;
          background-image: url('@/assets/icon/location.svg');
          background-size: 100% 100%;
          margin-right: 4px;
          opacity: 0.3;
        }
      }
    }
  }

  &-more {
    width: 100%;
    cursor: pointer;
    padding: 0.75em;
    text-align: center;
    transition: all 0.3s;
    border: 1px solid var(--mecci-card-border);
    // box-shadow: var(--secondary-background-shadow);
    border-radius: 12px;
    word-break: break-all;
    margin-bottom: 8px;
    font-size: 0.75em;
    color: var(--secondary-text-color);
    &:hover {
      background-color: var(--mecci-theme-color);
      color: #fff;
    }
  }

  &-tool {
    width: 100px;
  }
}
