.app-management__blog-list {
  width: 100%;

  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;

    .el-pagination {
      width: 100%;
      justify-content: flex-end;
    }
    
    li {
        &::before {
          display: none;
        }
      }

    margin: 16px 0;
  }
}
