.app-copyright {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: var(--mobile-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__container {
    width: 100%;
    flex: 1;
    background-color: var(--mecci-card-background);
    box-shadow: var(--mecci-shadow);
    padding: 1rem 2rem;
    border-radius: 12px;
    color: var(--mecci-font-color);
  }

  @media screen and (max-width: 768px) {
    &__container {
      border-radius: 0px;
      background: var(--mobile-background);
      padding: 0px 1rem !important;
      box-shadow: none !important;
    }
  }
}
