.nav-menu-list-item{
  padding-left: 24px;
  line-height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;
  position: relative;

  &:hover {
    color: var(--primary-text-hover-color);
    
    .nav-menu-list-item-name::after {
      width: 52px;
    }
  }


  &-name {
    font-size: var(--font-size-middle);
    margin-left: 4px;
    position: relative;
        
        &::after {
          content: '';
          display: block;
          height: 2px;
          background-color: var(--primary-text-hover-color);
          position: absolute;
          bottom: -10px;
          width: 0px;
          left: -10px;
          transition: width 0.3s linear;
        }
  }

  .explore-menu {
    width: 94px;
    padding: 4px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 30px;
    top: 30px;

    &-list {
      color: var(--secondary-text-color);
      font-size: var(--font-size-normal);
    }
  }
}