.app-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;

  &-prev {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: var(--primary-background-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--line-color);
    &:hover {
      border-color: var(--mecci-theme-color);

      .app-icon {
        color: var(--mecci-theme-color) !important;
      }
    }

    &.disabled {
      // pointer-events: ;
      cursor: not-allowed;
      pointer-events: none;
      opacity: 0.3;
      user-select: none;
    }

    &-mobile {
      display: none;
    }
  }

  &-next {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: var(--primary-background-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--line-color);
    // color: var(--mecci-font-color) !important;
    &:hover {
      border-color: var(--mecci-theme-color);

      .app-icon {
        color: var(--mecci-theme-color) !important;
      }
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.3;
      user-select: none;
      pointer-events: none;
    }

    &-mobile {
      display: none;
    }
  }

  &-number {
    // flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 32px;

    &-item {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      box-shadow: var(--primary-background-shadow);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0.3rem;
      cursor: pointer;
      color: var(--mecci-font-color);
      border: 1px solid var(--line-color);

      &:hover {
        color: var(--mecci-theme-color);
        border-color: var(--mecci-theme-color);
      }

      &.active {
        background-color: var(--mecci-theme-color);
        color: #fff;
      }
    }

    &-space {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0.3rem;
      color: var(--mecci-font-color);
      user-select: none;
    }
  }

  @media screen and (max-width: 768px) {
    & {
      margin: 1rem !important;
    }

    &-prev {
      width: 100%;
      height: 2.5rem;
      // margin: 0.2rem 1rem 1rem 1rem;
      border-radius: 12px;
      line-height: 2.5rem;
      background: var(--mecci-card-background);
      border: 1px solid var(--line-color);
      box-shadow: var(--mecci-shadow);

      & > .app-icon {
        display: none;
      }

      &-mobile {
        display: block;
        // width: 100%;
        // height: 2.5rem;
        // margin: 0.2rem 1rem 1rem 1rem;
        // border-radius: 12px;
        // line-height: 2.5rem;
        // background: var(--mecci-card-background);
        // border: 1px solid var(--line-color);
        // box-shadow: var(--mecci-shadow);
      }

      &.disabled {
        display: none;
      }
    }

    &-next {
      width: 100%;
      height: 2.5rem;
      // margin: 0.2rem 1rem 1rem 1rem;
      border-radius: 12px;
      line-height: 2.5rem;
      background: var(--mecci-card-background);
      border: 1px solid var(--line-color);
      box-shadow: var(--mecci-shadow);

      & > .app-icon {
        display: none;
      }

      &-mobile {
        display: block;
      }

      &.disabled {
        display: none;
      }
    }

    &-number {
      display: none;
    }
  }
}
