.app-management__updateLog {
  width: 100%;
  position: relative;
  // overflow-x: hidden;
  background-color: var(--primary-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-main {
    width: 100%;
    padding: 1rem 1.5rem;
    flex: 1;

    &__publish-content {
      width: 100%;
      height: max-content;
      padding: 16px;
      border: 1px solid var(--line-color);
      border-radius: 8px;
      box-shadow: var(--mecci-shadow);
      margin-bottom: 20px;
    }
  }

  &-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
