.post-show-footer {
  width: 100%;
  margin-top: 32px;

  &-info {
    width: 100%;
    height: max-content;
    color: var(--primary-text-blog-color);
    font-weight: bold;
    background-color: var(--mecci-card-background);
    padding: 1rem 1.3rem;
    overflow: hidden;
    border: 1px solid var(--line-color);
    transition: 0.3s;
    border-radius: 12px;

    &__header {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      &-sign {
        background: var(--primary-font-color);
        color: var(--primary-background);
        padding: 0.2rem 0.5rem;
        font-size: 0.7rem;
        border-radius: 8px;
        margin-right: 0.5rem;
        font-weight: bold;
        line-height: 1.5;
        white-space: nowrap;
      }
    }

    &__content {
      // display: none;
      padding-left: 0;
      color: var(--primary-font-color);
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-height: 1.2;
      -webkit-box-orient: vertical;
      font-size: 1rem;
      font-weight: 700;
    }

    &-author {
      width: 100%;
      padding: 8px 0;
      display: flex;
      align-items: center;

      &-icon {
        width: 16px;
        height: 16px;
        background-image: url('@/assets/icon/author.svg');
        background-size: 100% 100%;
        margin-right: 6px;
      }

      &-text {
        color: #425aef;
        font-weight: normal;
        cursor: pointer;
      }
    }

    &-link {
      width: 100%;
      padding: 8px 0;
      display: flex;
      align-items: center;

      &-icon {
        width: 16px;
        height: 16px;
        background-image: url('@/assets/icon/link.svg');
        background-size: 100% 100%;
        margin-right: 6px;
      }

      &-text {
        // color: #425aef;
        font-weight: normal;
      }
    }

    &__translate {
      font-family: 'PingFangSC-Light', sans-serif;
      font-size: 14px;
      line-height: 1.7;
      color: var(--primary-font-color);
      font-weight: 300;
      opacity: 0.8;
    }

    &-transshipment {
      width: 100%;
      padding: 8px 0;
      display: flex;
      align-items: center;

      &-icon {
        width: 16px;
        height: 16px;
        background-image: url('@/assets/icon/banquan.svg');
        background-size: 100% 100%;
        margin-right: 6px;
      }

      &-text {
        font-weight: normal;
        position: relative;

        // &-cc {
        //   position: absolute;
        //   right: 0;
        // }
      }
    }
  }

  &-share {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 16px;

    &-qq {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-right: 8px;

      &-icon {
        width: 32px;
        height: 32px;
        background-image: url('@/assets/icon/qq-share.svg');
        background-size: 100% 100%;

        &:hover {
          width: 30px;
          height: 30px;
          background-image: url('@/assets/icon/qq-share-hover.svg');
          background-size: 100% 100%;
        }
      }
    }

    &-qq-space {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-right: 8px;

      &-icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        // border: 1px solid #fdbe3d;
        background-image: url('@/assets/icon/qq-space.svg');
        background-size: 100% 100%;

        &:hover {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          // border: 1px solid #fdbe3d;
          background-image: url('@/assets/icon/qq-space-hover.svg');
          background-size: 100% 100%;
        }
      }
    }

    &-wechat {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-right: 8px;

      &-icon {
        width: 32px;
        height: 32px;
        background-image: url('@/assets/icon/wechat-share.svg');
        background-size: 100% 100%;

        &:hover {
          width: 32px;
          height: 32px;
          background-image: url('@/assets/icon/wechat-share-hover.svg');
          background-size: 100% 100%;
        }
      }
    }
  }

  &-donate {
    margin-top: 40px;
    width: 100%;
    // height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &-button {
      padding: 0;
      width: 133px;
      height: 40px;
      line-height: 39px;
      cursor: pointer;
      transition: all 0.3s;
      background-color: #d8213c;
      color: #fff;
      border-radius: 8px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 8px 12px -3px #ee7d7936;
      font-size: 16px;

      &:hover {
        box-shadow: 0 6px 12px rgb(0 0 0 / 20%), 0 5px 15px rgb(0 0 0 / 20%);
      }
    }

    &-text {
      text-align: center;
    }

    &-qrcode {
      position: absolute;
      padding: 20px 20px 40px;
      border-radius: 4px;
      display: flex;
      background-color: var(--skeleton-background);
      box-shadow: var(--primary-background-shadow);
      bottom: 56px;
      user-select: none;
      &::after {
        content: '';
        display: block;
        border-top: 10px solid var(--skeleton-background);
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
        // box-shadow: var(--primary-background-shadow);
      }

      &-wx {
        width: 140px;
        height: 140px;
        margin-right: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-ali {
        width: 140px;
        height: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-wechat {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        margin-bottom: 10px;

        &-img {
          width: 100%;
          height: 100%;
          padding: 4px;
          border-radius: 4px;
          background-color: #fff;
          background-image: url('@/assets/image/wxpay.png');
          background-size: 100% 100%;
          background-repeat: no-repeat;
          object-fit: cover;
        }
      }

      &-alipay {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        margin-bottom: 10px;
        &-img {
          width: 100%;
          height: 100%;
          padding: 4px;
          border-radius: 4px;
          background-image: url('@/assets/image/alipay.png');
          background-size: 100% 100%;
          background-repeat: no-repeat;
          object-fit: cover;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    &-donate {
      margin-top: 20px;
    }

    &-info {
      background-color: var(--mecci-card-background);
      padding: 1rem 1.3rem;
      overflow: hidden;
      border: 1px solid var(--line-color);
      transition: 0.3s;
      border-radius: 12px;

      &__title {
        display: none;
      }

      &__content {
        padding-left: 0;
        color: var(--primary-font-color);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-height: 1.2;
        -webkit-box-orient: vertical;
        font-size: 1rem;
        font-weight: 700;
      }

      &-author {
        display: none;

        &-text {
          text-decoration: none;
          word-break: break-word;
          border-radius: 4px;
          padding: 0 4px;
          font-weight: 700;
          color: var(--primary-font-color);
        }
      }

      &-link {
        line-height: 16px;
        -webkit-line-clamp: 2;
        overflow: hidden;
        display: -webkit-box;
        padding-left: 0;

        &-text {
          font-size: 14px;
          opacity: 0.6;
          line-height: 16px;
          color: var(--primary-font-color);
          text-decoration: none;
          word-break: break-word;
          font-weight: 700;
          padding: 0;
        }
      }

      &-link-icon {
        display: none;
      }

      &-transshipment {
        &-icon {
          display: none;
        }

        &-text {
          padding-left: 0;
          color: var(--primary-font-color);
          font-size: 0.7rem;
          line-height: 1rem;
          // overflow: hidden;
          display: -webkit-box;
          // -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;

          // &-cc {
          //   position: absolute;
          //   right: 0;
          // }
        }
      }
    }
  }
}
