.app-menu {
  height: 100%;
  position: relative;

  &__main {
    height: 91vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;

    .el-menu {
      height: 100%;
    }

    &-title {
      font-size: 16px !important;
      user-select: none;
    }

    &-2rdTitle {
      font-size: 14px !important;
      user-select: none;
    }
  }

  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 1s;
    border-right: 1px solid #dcdfe6;

    &:hover {
      background-color: #ecf5ff;
    }
  }
}
