.app-management__blog-category {
  padding: 20px;
  display: flex;

  &__add {
    margin-right: 10px;
    height: 32px;
    width: 74px;
  }

  .el-input__wrapper {
    margin-left: 8px;
    height: 32px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  .el-tag {
    margin-left: 16px;
    margin-bottom: 16px;
  }
}
