.app-loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: var(--mobile-background);
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    color: var(--mecci-font-color);
    font-weight: 700;
    color: 16px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    box-shadow: var(--mecci-shadow);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &.dark {
      background-color: #000;
    }

    &__logo {
      width: 80%;
      height: 80%;
      display: flex;
      background-image: url('../../../assets/icon/logo.png');
      border-radius: 50%;
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &-enter-active {
    opacity: 0;
    transition: 1s;
  }

  &-enter-to {
    opacity: 1;
  }

  &-leave-active {
    opacity: 1;
    transition: 1s;
  }

  &-leave-to {
    opacity: 0;
  }
}
