.post-list-item {
  width: 100%;
  height: 250px;
  display: flex;
  box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
  border-radius: 8px;
  margin-bottom: 16px;

  &:hover {
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.09);
  }

  &-media {
    width: 40%;
    height: 250px;
    cursor: pointer;
    border: 1px solid var(--primary-text-color);
  }

  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;

    &-title {
      font-size: var(--font-size-large);
      color: var(--primary-text-color);
    }

    &-data {
      display: flex;
    }
  }
}