.post-list-item {
  width: 100%;
  height: 13em;
  display: flex;
  box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
  border-radius: 8px;
  margin-bottom: 16px;

  &:hover {
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.09);
  }

  &-media {
    width: 40%;
    height: 100%;
    cursor: pointer;
    border: 1px solid var(--primary-text-color);
  }

  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;

    &-title {
      font-size: var(--font-size-large);
      color: var(--primary-text-color);
      line-height: 50px;
      margin-bottom: 16px;
      cursor: pointer;
    }

    &-data {
      width: 100%;
      display: flex;
      font-size: var(--font-size-normal);
      color: var(--secondary-text-color);
      line-height: 40px;
      align-items: center;
      justify-content: space-around;

      &-time {
        display: flex;
        align-items: center;
      }

      &-comment {
        display: flex;
        align-items: center;
      }
    }

    &-separate {
      width: 1px;
      height: 20px;
      background: var(--secondary-text-color);
    }

    &-description {
      font-size: var(--font-size-normal);
      color: var(--secondary-text-color);
      line-height: 24px;
    }
  }
}
