.app-management__rewardList-list-item {
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid var(--line-color);
  width: 180px;
  margin: 0px 0.25rem 0.5rem;
  box-shadow: var(--mecci-shadow);

  &__delete {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
    cursor: pointer;

    .el-icon {
      &:hover {
        color: #409efc;
      }
    }
  }

  &__name {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0.5rem;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-money {
      padding: 4px;
      background: var(--mecci-font-color);
      color: var(--mecci-card-background);
      font-size: 12px;
      line-height: 1;
      border-radius: 4px;
      margin-right: 4px;
      white-space: nowrap;

      &.vip {
        background: #e5a80d;
      }
    }

    &-time {
      font-size: 12px;
      color: var(--mecci-secondary-color);
      white-space: nowrap;
    }
  }
}
