.app-login {
  // width: 90%;
  min-width: 1200px;
  // margin: 0 auto;
  padding: 32px;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;

  & .form {
    width: 520px;
  }

  .header {
    margin-left: 32px;
  }

  & > .action {
    text-align: right;

    & > .link {
      color: var(--secondary-text-color);
      font-size: 18px;
    }
  }

  & > .form > .section.actions {
    display: flex;
    justify-content: space-between;
    margin-left: 32px;
    margin-top: 16px;
  }
}
