.post-list {
  width: 100%;

  @media screen and (min-width: 1300px) {
    & {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      width: 100%;
    }
  }
}
